
.rag{background-color: chocolate;}
.nav1{background-color:darksalmon;list-style-type:disc;text-align: center;;margin-left: 150px;}
.nav1 li{font-size: large;padding:15px;text-align :center;color:cornsilk;display:inline-block}
.pgp{background-color:lightgreen;}
.myn{background-color: lavenderblush;}
.jas{background-color: lightcyan;}
.uif{background-color: cadetblue;}
.hlk{float: left;}